.sidebar {
  //   border: 5px solid rgb(13, 247, 41);
  margin-top: 150px;
  width: 100%;
  min-height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $bgColor;
  overflow: hidden;
}

.sub_sidebars {
  //   border: 1px solid #333;

  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
  overflow: hidden;
}
.login-box {
  width: 400px;
  height: 400px;
  padding: 40px;
  //   padding-bottom: 0px;
  background: rgb(0, 0, 0);
  box-sizing: border-box;
  box-shadow: -5px 5px 83px 0px rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  .forgetpass {
    font-size: 1.4rem;
    position: absolute;
    border: none;
    color: #2926d1;
    letter-spacing: 1px;
    text-transform: capitalize;
    bottom: 0;
    right: 0;
    transform: translateY(30%);
  }
  .forgetpass:hover {
    background: transparent;
    color: red;
    box-shadow: none;
  }
  .signin {
    position: absolute;
    // bottom: 0;
    // transform: translateY(-140%);
  }
}

.login-box h2 {
  background: linear-gradient(to bottom right, #00a6ff, #d9f82c);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  margin: 0 0 30px;
  font-size: 3rem;
  padding: 0;
  color: black;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 20px 0px 10px 0px;
  font-size: 16px;
  color: white;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 0;
  font-size: 16px;
  color: white;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
  margin: 20px;
}

.login-box a:hover {
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4, 0 0 0px #03e9f4, 0 0 20px #03e9f4,
    0 0 20px #03e9f4;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
