.nap_tien {
  width: 100%;
  h2 {
    background: linear-gradient(to bottom right, #00a6ff, #d9f82c);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    margin: 0 0 30px;
    font-size: 3rem;
    padding: 0;
    color: black;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  p {
    color: red;
    // margin-bottom: 10px;
    font-size: 1.6rem !important;
  }
}

.info_naptien {
  width: 100%;
  // border: 1px solid #fff;
}

.info_naptien_detail {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid rgb(76, 76, 76);

  div {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1.5fr 1fr 1fr 0.5fr;
    // border: 1px solid #fff;

    div {
      display: flex;
      // border: none;
      flex-direction: column;
      p {
        // border: none;
      }
    }
  }
  border: none;
  p {
    border: 1px solid rgb(76, 76, 76);
  }
}
